<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="../"></form>
        {% csrf_token %}
    <h1>Update</h1>
    name  <input type="text" name="name" id=""><br><br>
    email <input type="text" name="email" id=""><br><br>
    <button value="submit">Update</button>
    {% for i in emps %}
    <p>name : {{i.name}}</p>
    <p>email : {{i.email}}</p>                                                    
    {% endfor %}
</body>
</html>