<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <form action="../" method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="name" id="">
        <input type="text" name="username" placeholder="username" id="">
        <input type="password" name="password" placeholder="password" id="">
        <input type="email" name="email" placeholder="email" id="">
        <button type="submit">register</button>

    </form>
    <a href="../login">login</a>
    <a href="../admlogin">admin login</a>
    
</body>
</html>